<br>
<h3>Project: {{project.name}}</h3>
<div class="row">
  <div class="col-12 input-group mb-3" style="padding-top: 10px;">
    <input  class="form-control" type="text" [(ngModel)]="project.name" placeholder="New Project Name">
    <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary" (click)="updateProject()">Update Project</button>
    </div>
  </div>
</div>

<div class="row">
  <h5> Incoice</h5>
  <div class="col-12 input-group mb-3">
    <button type="button" class="btn btn-outline-secondary" (click)="creatInvoice()">Create Invoice</button>
</div>
</div>

<div class="row">
  <h5> New Time:  Start Date and Time   -   End Date and Time</h5>
  <div class="col-12 input-group mb-3" style="padding-top: 10px;">
    <input  class="form-control" type="date" [(ngModel)]="newTime.startDate">
    <input  class="form-control" type="time" [(ngModel)]="newTime.startTime">
    <input  class="form-control" type="date" [(ngModel)]="newTime.endDate">
    <input  class="form-control" type="time" [(ngModel)]="newTime.endTime">
    <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary" (click)="addNewTime()">Add Time</button>
    </div>
  </div>
</div>

<div >
  <h5 class="row"> Existing Times </h5>
  <div class="row" *ngFor="let time of times">
    <div class="col-12 input-group mb-3" style="padding-top: 10px;">
        <input  class="form-control" type="date" [(ngModel)]="time.startDate">
        <input  class="form-control" type="time" [(ngModel)]="time.startTime">
        <input  class="form-control" type="date" [(ngModel)]="time.endDate">
        <input  class="form-control" type="time" [(ngModel)]="time.endTime">
        <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" (click)="updateTime(time)">Update Time</button>
        </div>
        <div class="input-group-append">
            <button type="button" class="btn btn-outline-danger" (click)="deleteTime(time)">Delete Time</button>
        </div>
      </div>
  </div>
</div>
