<br>
<h3>Project: {{project.name}}</h3>
<div class="row">
  <div class="col-12 input-group mb-3" style="padding-top: 10px;">
    <input  class="form-control" type="text" [(ngModel)]="project.name" placeholder="New Project Name">
    <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary" (click)="updateProject()">Update Project</button>
    </div>
  </div>
</div>

<div class="row">
  <h5> Incoice</h5>
  <div class="col-12 input-group mb-3">
      <input  class="form-control" type="datetime-local" [(ngModel)]="invoice.start">
      <input  class="form-control" type="datetime-local" [(ngModel)]="invoice.end">
      <input  class="form-control" type="number" [(ngModel)]="pay" placeholder="Hourly Pay">
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary" (click)="creatInvoice()">Create Invoice</button>
      </div>
  </div>
  <div *ngIf='totalHours!=-1'>
      <h5>Hourse Worked: {{totalHours}}</h5>
      <h5>Pay Earned @ {{pay}}/hr : ${{totalPay}}</h5>
  </div>
</div>

<div class="row">
  <h5> New Time:  Start Date and Time   -   End Date and Time</h5>
  <div class="col-12 input-group mb-3" style="padding-top: 10px;">
    <input  class="form-control" type="datetime-local" [(ngModel)]="newTime.start_time">
    <input  class="form-control" type="datetime-local" [(ngModel)]="newTime.end_time">
    <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary" (click)="addNewTime()">Add Time</button>
    </div>
  </div>
</div>

<div >
  <h5 class="row"> Existing Times </h5>
  <div class="row" *ngFor="let time of times">
    <div class="col-12 input-group mb-3" style="padding-top: 10px;">
        <input  class="form-control" type="datetime-local" [(ngModel)]="time.start_time">
        <input  class="form-control" type="datetime-local" [(ngModel)]="time.end_time">
        <!-- <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" (click)="updateTime(time)">Update Time</button>
        </div> -->
        <div class="input-group-append">
            <button type="button" class="btn btn-outline-danger" (click)="deleteTime(time)">Delete Time</button>
        </div>
      </div>
  </div>
</div>
